.project {
  transition: all 1ms linear;
  font-weight: bold;
  .box {
    display: flex;
    .left {
      flex: 1;
      background: #ddd;
    }
    .right {
      flex: 2;
      background: green;
    }
  }
}

.tables {
  .ant-table-thead
    > tr
    > th.ant-table-column-has-actions.ant-table-column-has-filters:hover
    .ant-table-filter-icon:hover {
    background: none;
  }

  .ant-table-tbody > tr > td.ant-table-selection-column,
  .ant-table-thead > tr > th.ant-table-selection-column{
    min-width: 30px;
      width: 30px;
  }
  
  .ant-table-tbody > tr > td.firstCol,
  .ant-table-thead > tr > th.firstCol { 
      min-width: 250px;
      width: 250px;
  }
}
