@font-face {font-family: "tmfont";
  src: url('iconfont.eot?t=1498024521405'); /* IE9*/
  src: url('iconfont.eot?t=1498024521405#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498024521405') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498024521405') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498024521405#tmfont') format('svg'); /* iOS 4.1- */
}

/*.tmfont {
  font-family:"tmfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
[class^="tm-icon-"],[class*=" tm-icon-"] {
  display: inline-block;
  font: normal normal normal 14px/1 tmfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tm-icon-project-overview:before { content: "\e601"; }

.tm-icon-project-intelligent:before { content: "\e602"; }

.tm-icon-project-approval:before { content: "\e603"; }

.tm-icon-center-management:before { content: "\e604"; }

.tm-icon-center-clinical:before { content: "\e605"; }

.tm-icon-center-question:before { content: "\e606"; }

.tm-icon-configuration-project:before { content: "\e607"; }

.tm-icon-configuration-risk:before { content: "\e608"; }

.tm-icon-configuration-clinical:before { content: "\e609"; }

.tm-icon-configuration-subjects:before { content: "\e60a"; }

.tm-icon-configuration-submit:before { content: "\e60b"; }

.tm-icon-configuration-general:before { content: "\e60c"; }

.tm-icon-configuration-docking:before { content: "\e60d"; }

.tm-icon-configuration-operation:before { content: "\e60e"; }

.tm-icon-configuration-traces:before { content: "\e60f"; }

.tm-icon-configuration-export:before { content: "\e612"; }

.tm-icon-configuration-named:before { content: "\e613"; }

.tm-icon-lianxirenku:before { content: "\e616"; }

.tm-icon-lianxixinxi:before { content: "\e617"; }

.tm-icon-caiwu:before { content: "\e619"; }

.tm-icon-jiaoyi:before { content: "\e61a"; }

.tm-icon-hetong:before { content: "\e61b"; }

